@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  user-select: none;
  overflow: hidden !important;
}

button{
  @apply bg-slate-600 border rounded px-1 text-white 
}

button:active{
  @apply bg-slate-700 scale-110
}

#root {
  height: 100%;
}